*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #55c57ad3;
  --color-primary-light: #7ed56fd8;
  --color-primary-dark: #28b485;

  --color-white: #fff;

  --color-gray: gray;
  --color-light-gray: #eee;
  --color-light-gray1: #999;
  --color-dark-gray: #333;

  --color-black: black;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.7;
  overflow: auto;
}

.container {
  background-color: rgb(14, 4, 17);
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.background-image {
  background-image: url(img/bg-desktop-dark.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-position: center;
  background-size: auto;
}

.todo-app {
  position: relative;
  z-index: 2000;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  gap: 4vh;
  overflow: auto;
  padding: 3rem 0;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
}

.todo-app__title {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading--1 {
  color: var(--color-white);
  font-size: 2rem;
}

.todo-app__title-name {
  color: rgb(189, 189, 189);
}

.todo-app__title-name:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn__title {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app__container {
  width: 100%;
}

.todo-app__category {
  text-align: left;
  margin-bottom: 2rem;
}

.heading--4 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.todo-app__category-group {
  display: flex;
  gap: 2vw;
}

.todo-app__label {
  width: 50%;
  height: 8rem;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-gray);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.todo-app__category-radio {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: relative;
}

.todo-app__category-radio::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.todo-app__radio-group {
  display: none;
}

.todo-app__radio-group:checked ~ .todo-app__category-radio::before {
  opacity: 1;
  visibility: visible;
}

.todo-app__category-radio--business {
  border: 0.2rem solid var(--color-secondary-dark);
}

.todo-app__category-radio--business::before {
  background-image: linear-gradient(
    to right bottom,
    var(--color-secondary-dark),
    var(--color-secondary-light)
  );
}

.todo-app__category-radio--personal {
  border: 0.2rem solid #615551;
}

.todo-app__category-radio--personal::before {
  background-image: linear-gradient(to right bottom, #d3c7c3, #918581);
}

.todo-app__search {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  background-color: rgb(50, 4, 64);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.todo-app__check-box {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #ffffff73;
  border-radius: 100%;
  margin-right: 1.5rem;
}

.todo-app__input {
  width: 100%;
  caret-color: var(--color-tertiary-light);
}

.todo-app__input,
.todo-app__input-value {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  color: var(--color-white);
}

.todo-app__input::placeholder {
  color: #ffffffaf;
}

.todo-app__input:focus,
.todo-app__input-value:focus {
  outline: none;
}

.todo-app__details {
  background-color: rgb(50, 4, 64);
  border-radius: 0.5rem;
}

.todo-app__list {
  height: 30vh;
  overflow: auto;
}

.todo-app__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 0.1rem solid #ffffff73;
  padding: 1.5rem;
}

.todo-app__label-btn {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #ffffff73;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.todo-app__radio-btn {
  width: 2rem;
  height: 2rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-tertiary-light),
    var(--color-tertiary-dark)
  );
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.todo-app__radio-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.todo-app__radio {
  display: none;
}

.todo-app__radio:checked ~ .todo-app__radio-btn {
  opacity: 1;
  visibility: visible;
}

.todo-app__input-value {
  width: 70%;
  /* height: 3rem; */
  margin-right: auto;
  overflow: auto;
}

.btn--edit,
.btn--delete {
  padding: 0.5rem;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 0.3rem;
}

.btn--edit {
  background-color: var(--color-tertiary-dark);
}

.btn--delete {
  background-color: red;
}

.todo-app__actions {
  display: flex;
  justify-content: space-between;
  color: #ffffff7d;
  padding: 1.5rem;
}

.todo-app__text {
  font-size: 1.2rem;
}

.btn__listners {
  display: flex;
  gap: 1.5rem;
}

.btn--all,
.btn--active,
.btn--complete,
.btn--clear {
  color: #ffffff7d;
  text-transform: capitalize;
}

.btn--all {
  color: var(--color-tertiary-dark);
}

.btn--active:hover,
.btn--clear:hover,
.btn--complete:hover {
  color: var(--color-white);
}

.footer {
  text-align: center;
  color: var(--color-white);
  font-size: 1.5rem;
}

.footer__link {
  color: #ffffff7d;
}
