* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* convert 1em equal 16px, 330px / 16 = 20.625em  */
@media only screen and (max-width: 20.625em) {
  html {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  font-family: 'Lato', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.heading--1 {
  font-size: 3.5rem;
  text-align: center;
}

.music__headings--1 {
  margin-bottom: 10rem;
}

.music__audio-container {
  width: 43rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  position: relative;
}

/* convert 1em equal 16px, 500px / 16 = 31.25em  */
@media only screen and (max-width: 31.25em) {
  .music__audio-container {
    width: 37rem;
  }
}

/* convert 1em equal 16px, 390px / 16 = 25em  */
@media only screen and (max-width: 25em) {
  .music__audio-container {
    width: 32rem;
  }
}

/* convert 1em equal 16px, 265px / 16 = 16.5625em  */
@media only screen and (max-width: 16.5625em) {
  .music__audio-container {
    width: 30rem;
  }
}

.music__audio__img-container {
  width: 11rem;
  height: 11rem;
  position: relative;
  z-index: 100;
}

/* convert 1em equal 16px, 500px / 16 = 31.25em  */
@media only screen and (max-width: 31.25em) {
  .music__audio__img-container {
    width: 8rem;
    height: 8rem;
  }
}

.music__audio__img-container {
  transform: translateY(-30%);
}

.music__audio-content {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 3rem;
}

/* convert 1em equal 16px, 400px / 16 = 25em  */
@media only screen and (max-width: 25em) {
  .music__audio-content {
    gap: 2rem;
    padding: 0 1.5rem;
  }
}

/* convert 1em equal 16px, 265px / 16 = 16.5625em  */
@media only screen and (max-width: 16.5625em) {
  .music__audio-content {
    justify-content: center;
  }
}

.music__audio__img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.music__controls {
  display: flex;
  gap: 4rem;
}

/* convert 1em equal 16px, 400px / 16 = 25em  */
@media only screen and (max-width: 25em) {
  .music__controls {
    gap: 2rem;
  }
}

.btn {
  align-self: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: #b1b1b1;
}

.icon--play {
  width: 4.5rem;
  height: 4.5rem;
  color: #67676f;
}

.audio {
  display: none;
}

.music__progressbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 50;
  transition: all 0.4s ease;
}

.music__progressbar-content {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffffb5;
  padding: 2rem 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.music__progressbar-details {
  margin-left: 14rem;
}

.music__progressbar-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.music__progressbar-width {
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.music__progressbar {
  width: 0;
  height: 100%;
  background-color: #f9629f;
}

.music__progressbar-width,
.music__progressbar {
  border-radius: 1rem;
}

.footer {
  align-self: end;
  text-align: center;
  font-size: 1.7rem;
}

.footer__link {
  text-transform: capitalize;
}

.hidden {
  transform: translateY(0);
  opacity: 0;
  visibility: hidden;
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
